[package]
name = "reqwest"
version = "0.10.0-alpha.2" # remember to update html_root_url
description = "higher level HTTP client library"
keywords = ["http", "request", "client"]
repository = "https://github.com/seanmonstar/reqwest"
documentation = "https://docs.rs/reqwest"
authors = ["Sean McArthur <sean@seanmonstar.com>"]
readme = "README.md"
license = "MIT/Apache-2.0"
categories = ["web-programming::http-client"]
edition = "2018"
autotests = true

[package.metadata.docs.rs]
all-features = true

[features]
default = ["default-tls"]

tls = []

default-tls = ["hyper-tls", "native-tls", "tls", "tokio-tls"]
default-tls-vendored = ["default-tls", "native-tls/vendored"]

#rustls-tls = ["hyper-rustls", "tokio-rustls", "webpki-roots", "rustls", "tls"]

blocking = ["futures-channel", "futures-util/io", "tokio/rt-threaded", "tokio/rt-core"]

cookies = ["cookie_crate", "cookie_store"]

gzip = ["async-compression"]

json = ["serde_json"]

#trust-dns = ["trust-dns-resolver"]

unstable-stream = []

# Internal (PRIVATE!) features used to aid testing.
# Don't rely on these whatsoever. They may disappear at anytime.

# When enabled, disable using the cached SYS_PROXIES.
__internal_proxy_sys_no_cache = []

[dependencies]
http = "0.2"
url = "2.1"
bytes = "0.5"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
base64 = "0.11"
encoding_rs = "0.8"
futures-core = { version = "0.3.0" }
futures-util = { version = "0.3.0" }
http-body = "0.3.0"
hyper = { git = "https://github.com/hyperium/hyper.git", default-features = false, features = ["tcp"] }
lazy_static = "1.4"
log = "0.4"
mime = "0.3.7"
mime_guess = "2.0"
percent-encoding = "2.1"
tokio = { version = "0.2.0", default-features = false, features = ["tcp", "time"] }
#tokio-executor = "0.2.0"
time = "0.1.42"
pin-project-lite = "0.1.1"

# TODO: candidates for optional features

serde = "1.0"
serde_urlencoded = "0.6.1"

# Optional deps...

## default-tls
hyper-tls = { git = "https://github.com/hyperium/hyper-tls.git", optional = true }
native-tls = { version = "0.2", optional = true }
tokio-tls = { version = "0.3.0", optional = true }

## rustls-tls
#hyper-rustls = { version = "=0.18.0-alpha.1", optional = true }
#rustls = { version = "0.16", features = ["dangerous_configuration"], optional = true }
#tokio-rustls = { version = "=0.12.0-alpha.2", optional = true }
#webpki-roots = { version = "0.17", optional = true }

## blocking
futures-channel = { version = "0.3.0", optional = true }

## cookies
cookie_crate = { version = "0.12", package = "cookie", optional = true }
cookie_store = { version = "0.10", optional = true }

## gzip
async-compression = { version = "0.2.0", default-features = false, features = ["gzip", "stream"], optional = true }

## json
serde_json = { version = "1.0", optional = true }

## socks
#socks = { version = "0.3.2", optional = true }

## trust-dns
#trust-dns-resolver = { version = "0.11", optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
env_logger = "0.6"
hyper = { git = "https://github.com/hyperium/hyper.git", default-features = false, features = ["tcp", "stream"] }
serde = { version = "1.0", features = ["derive"] }
libflate = "0.1"
doc-comment = "0.3"
tokio = { version = "0.2.0", default-features = false, features = ["macros"] }

[target.'cfg(windows)'.dependencies]
winreg = "0.6"

# wasm

[target.'cfg(target_arch = "wasm32")'.dependencies]
js-sys = "0.3.28"
wasm-bindgen = { version = "0.2.51", features = ["serde-serialize"] }
wasm-bindgen-futures = "0.4.1"

[target.'cfg(target_arch = "wasm32")'.dependencies.web-sys]
version = "0.3.25"
features = [
    "Headers",
    "Request",
    "RequestInit",
    "Response",
    "Window",
]

[[example]]
name = "blocking"
path = "examples/blocking.rs"
required-features = ["blocking"]

[[example]]
name = "json_dynamic"
path = "examples/json_dynamic.rs"
required-features = ["json"]

[[example]]
name = "json_typed"
path = "examples/json_typed.rs"
required-features = ["json"]

[[test]]
name = "blocking"
path = "tests/blocking.rs"
required-features = ["blocking"]

[[test]]
name = "cookie"
path = "tests/cookie.rs"
required-features = ["cookies"]

[[test]]
name = "gzip"
path = "tests/gzip.rs"
required-features = ["gzip"]
