name: CI

on:
  pull_request:
  push:
    branches:
      - master

env:
  REQWEST_TEST_BODY_FULL: 1
  RUST_BACKTRACE: 1
  CARGO_INCREMENTAL: 0
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  ci-pass:
    name: CI is green
    runs-on: ubuntu-latest
    needs:
      - style
      - test
      - features
      - unstable
      - nightly
      - msrv_default
      - msrv_oldest
      - android
      - wasm
      - docs
    steps:
      - run: exit 0

  style:
    name: Check Style

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: cargo fmt -- --check
        run: cargo fmt -- --check

      - name: temporary workaround - fmt all files under src
        # Workaround for rust-lang/cargo#7732
        run: cargo fmt -- --check $(find . -name '*.rs' -print)

  test:
    name: ${{ matrix.name }}
    needs: [style]

    runs-on: ${{ matrix.os || 'ubuntu-latest' }}

    env:
      AWS_LC_SYS_PREBUILT_NASM: ${{ matrix.aws_lc_sys_prebuilt_nasm || 0 }}

    # The build matrix does not yet support 'allow failures' at job level.
    # See `jobs.nightly` for the active nightly job definition.
    strategy:
      matrix:
        name:
          - linux / stable
          - linux / beta
          # - linux / nightly
          - macOS / stable
          - windows / stable-x86_64-msvc
          - windows / stable-i686-msvc
          - windows / stable-x86_64-gnu
          - windows / stable-i686-gnu
          - "feat.: default-tls disabled"
          - "feat.: rustls"
          - "feat.: rustls-no-provider"
          - "feat.: native-tls"
          - "feat.: default-tls and native-tls"
          - "feat.: rustls and rustls-no-provider"
          - "feat.: cookies"
          - "feat.: blocking"
          - "feat.: blocking only"
          - "feat.: gzip"
          - "feat.: brotli"
          - "feat.: deflate"
          - "feat.: query"
          - "feat.: form"
          - "feat.: json"
          - "feat.: multipart"
          - "feat.: stream"
          - "feat.: socks/default-tls"
          - "feat.: socks/native-tls"
          - "feat.: hickory-dns"

        include:
          - name: linux / stable
          - name: linux / beta
            rust: beta
          # - name: linux / nightly
          #   rust: nightly
          - name: macOS / stable
            os: macOS-latest

          - name: windows / stable-x86_64-msvc
            os: windows-latest
            target: x86_64-pc-windows-msvc
            features: "--features blocking,gzip,brotli,zstd,deflate,query,form,json,multipart,stream"
            aws_lc_sys_prebuilt_nasm: 1
          - name: windows / stable-i686-msvc
            os: windows-latest
            target: i686-pc-windows-msvc
            features: "--features blocking,gzip,brotli,zstd,deflate,query,form,json,multipart,stream"
            aws_lc_sys_prebuilt_nasm: 1
          - name: windows / stable-x86_64-gnu
            os: windows-latest
            rust: stable-x86_64-pc-windows-gnu
            target: x86_64-pc-windows-gnu
            features: "--features blocking,gzip,brotli,zstd,deflate,query,form,json,multipart,stream"
            package_name: mingw-w64-x86_64-gcc
            mingw64_path: "C:\\msys64\\mingw64\\bin"
            aws_lc_sys_prebuilt_nasm: 1
          - name: windows / stable-i686-gnu
            os: windows-latest
            rust: stable-i686-pc-windows-gnu
            target: i686-pc-windows-gnu
            features: "--no-default-features --features blocking,gzip,brotli,zstd,deflate,query,form,json,multipart,stream,native-tls,http2"
            package_name: mingw-w64-i686-gcc
            mingw64_path: "C:\\msys64\\mingw32\\bin"

          - name: "feat.: default-tls disabled"
            features: "--no-default-features"
          - name: "feat.: rustls"
            features: "--no-default-features --features rustls"
          - name: "feat.: rustls-no-provider"
            features: "--no-default-features --features rustls-no-provider"
          - name: "feat.: native-tls"
            features: "--features native-tls"
          - name: "feat.: rustls and rustls-no-provider"
            features: "--features rustls,rustls-no-provider"
          - name: "feat.: default-tls and native-tls"
            features: "--features native-tls"
          - name: "feat.: cookies"
            features: "--features cookies"
          - name: "feat.: blocking"
            features: "--features blocking"
          - name: "feat.: blocking only"
            features: "--no-default-features --features blocking"
          - name: "feat.: gzip"
            features: "--features gzip,stream"
          - name: "feat.: brotli"
            features: "--features brotli,stream"
          - name: "feat.: zstd"
            features: "--features zstd,stream"
          - name: "feat.: deflate"
            features: "--features deflate,stream"
          - name: "feat.: query"
            features: "--features query"
          - name: "feat.: form"
            features: "--features form"
          - name: "feat.: json"
            features: "--features json"
          - name: "feat.: multipart"
            features: "--features multipart"
          - name: "feat.: stream"
            features: "--features stream"
          - name: "feat.: socks/default-tls"
            features: "--features socks"
          - name: "feat.: socks/native-tls"
            features: "--features socks,native-tls"
          - name: "feat.: hickory-dns"
            features: "--features hickory-dns"

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust || 'stable' }}
          targets: ${{ matrix.target }}

      - name: Add mingw-w64 to path for i686-gnu
        run: |
          echo "${{ matrix.mingw64_path }}" >> $GITHUB_PATH
          echo "C:\msys64\usr\bin" >> $GITHUB_PATH
        if: matrix.mingw64_path
        shell: bash

      - name: Install x86_64 Clang & NASM
        if: ${{ matrix.target == 'x86_64-pc-windows-gnu' }}
        run: pacman.exe -Sy --noconfirm mingw-w64-x86_64-clang mingw-w64-x86_64-nasm
        shell: bash

      - name: Add libclang to the environment for windows x86_64-gnu
        run: echo "LIBCLANG_PATH=C:\msys64\mingw64\bin" >> $env:GITHUB_ENV
        if: ${{ matrix.target == 'x86_64-pc-windows-gnu' }}
        shell: bash

      - name: Update gcc
        if: matrix.package_name
        run: pacman.exe -Sy --noconfirm ${{ matrix.package_name }}

      - name: Create Cargo.lock
        run: cargo update

      - uses: Swatinem/rust-cache@v2

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - name: Run tests
        run: |
          set -euxo pipefail
          cargo nextest run --locked --workspace ${{ matrix.features }} ${{ matrix.test-features }}
          cargo test --locked --workspace --doc ${{ matrix.features }} ${{ matrix.test-features }}
        shell: bash

  features:
    name: features
    needs: [style]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-hack
        uses: taiki-e/install-action@cargo-hack

      - uses: Swatinem/rust-cache@v2

      - name: check --feature-powerset
        run: cargo hack --no-dev-deps check --feature-powerset --depth 2 --skip http3,__tls,__rustls,__rustls-aws-lc-rs,native-tls-vendored,trust-dns
        env:
          RUSTFLAGS: "-D dead_code -D unused_imports"

  unstable:
    name: "unstable features"
    needs: [style]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 'stable'

      - name: Check
        run: cargo test --features http3,stream
        env:
          RUSTFLAGS: --cfg reqwest_unstable
          RUSTDOCFLAGS: --cfg reqwest_unstable

  docs:
    name: Docs
    needs: [test]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Check documentation
        env:
          RUSTDOCFLAGS: --cfg reqwest_unstable -D warnings
        run: cargo doc --no-deps --document-private-items --all-features

  # Separate build job for nightly because of the missing feature for allowed failures at
  # job level. See `jobs.build.strategy.matrix`.
  nightly:
    name: linux / nightly
    needs: [style]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install rust
        uses: dtolnay/rust-toolchain@nightly

      - name: Check minimal versions
        env:
          RUSTFLAGS: --cfg reqwest_unstable
        # See https://github.com/rust-lang/rust/issues/113152
        # We don't force a newer openssl, but a newer one is required for
        # this CI runner, because of the version of Ubuntu.
        run: |
          cargo clean
          cargo update -Z minimal-versions
          cargo update -p proc-macro2 --precise 1.0.87
          cargo update -p aws-lc-rs --precise 1.13.1
          cargo update -p aws-lc-sys --precise 0.29.0
          cargo update -p openssl-sys
          cargo update -p openssl
          cargo check
          cargo check --all-features

  msrv_default:
    name: MSRV Default
    needs: [style]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable
      - name: Resolve MSRV aware dependencies
        run: cargo update
        env:
          CARGO_RESOLVER_INCOMPATIBLE_RUST_VERSIONS: fallback

      # required by rustls-platform-verifier
      - name: Install rust (1.71.0)
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.71.0

      - uses: Swatinem/rust-cache@v2

      - name: Check
        run: cargo check

  msrv_oldest:
    name: MSRV Oldest
    needs: [style]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable
      - name: Resolve MSRV aware dependencies
        run: cargo update
        env:
          CARGO_RESOLVER_INCOMPATIBLE_RUST_VERSIONS: fallback

      - name: Get MSRV package metadata
        id: metadata
        run: cargo metadata --no-deps --format-version 1 | jq -r '"msrv=" + .packages[0].rust_version' >> $GITHUB_OUTPUT

      - name: Install rust (${{ steps.metadata.outputs.msrv }})
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.metadata.outputs.msrv }}

      - uses: Swatinem/rust-cache@v2

      - name: Check
        run: cargo check --no-default-features --features="http2,charset,native-tls"

  android:
    name: Android
    needs: [style]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
        with:
          target: aarch64-linux-android

      - name: Build
        # disable default-tls feature since cross-compiling openssl is dragons
        run: cargo build --target aarch64-linux-android --no-default-features

  wasm:
    name: WASM
    needs: [style]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Check
        run: cargo check --target wasm32-unknown-unknown

      - name: Check cookies
        run: cargo check --target wasm32-unknown-unknown --features cookies

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Wasm-pack test firefox
        run: wasm-pack test --headless --firefox

      - name: Wasm-pack test chrome
        run: wasm-pack test --headless --chrome
